root = true

[*]
charset = utf-8

[*.{lua,md,yml}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[{GNUmakefile,*.{mk,src}}]
indent_style = tab
indent_size = 8
tab_width = 8

[*.src]
trim_trailing_whitespace = false

[{COMMIT_EDITMSG,MERGE_MSG}]
max_line_length = 72
